center{
    font-size: 60px;
}
p{
    margin-left: 30px
}
img, video{
    position: absolute;
    border: solid 10px black;
}
#W1{
    top: 130px;
    height: 120px;
    right: 10%;
}

#W2{
    top: 280px;
    width: 120px;
    right: 10%;
}

#W3{
    top: 425px;
    height: 100px;
    right: 9.25%;
}
#W4{
    top: 565px;
    height: 120px;
    right: 7%;
}
#W5{
    top: 730px;
    width: 200px;
    right: 7.5%;
}
#W6{
    top: 883px;
    height: 120px;
    right: 9%;
}
#W7{
    top: 1035px;
    width: 140px;
    height: 110px;
    right: 9.5%;
}
#W8{
    top: 1178px;
    height: 120px;
    right: 7%;
}
#W9{
    top: 1330px;
    height: 120px;
    right: 6.75%;
}
#W10{
    top: 1488px;
    width: 200px;
    height: 140px;
    right: 7%;
}
#W11{
    top: 1652px;
    height: 105px;
    width: 210px;
    right: 6.75%;
}
#W12{
    top: 1788px;
    height: 110px;
    width: 195px;
    right: 7%;
}
#W13{
    top: 1930px;
    height: 110px;
    width: 250px;
    right: 5.5%;
}
#W14{
    top: 2080px;
    height: 110px;
    width: 250px;
    right: 5.5%;
}
#W151{
    height: 110px;
    width: 250px;
}
#W152{
    height: 110px;
    width: 250px;
    left: 30%;
}
#W153{
    height: 110px;
    width: 250px;
}
#W154{
    height: 110px;
    width: 250px;
    left: 30%;
}
#W155{
    height: 110px;
    width: 250px;
}
h2{
    margin-left: 30px
}
ol{
    margin-left: 40px
}
#M1{
    top: 3025px;
    height: 150px;
    width: 250px;
    right: 5%;
}
#M2{
    top: 3205px;
    height: 120px;
    width: 250px;
    right: 5%;
}
#M3-1{
    top: 3352px;
    height: 120px;
    width: 200px;
    right: 1%;
}
#M3-2{
    top: 3352px;
    height: 120px;
    width: 200px;
    right: 16%;
}
#M4{
    top: 3500px;
    height: 120px;
    width: 200px;
    right: 5%;
}