center{
    font-size: 60px;
}
p{
    margin-left: 30px
}
img, video{
    position: absolute;
    border: solid 10px black;
}
#W1{
    top: 135px;
    height: 120px;
    right: 10%;
}

#W2{
    top: 290px;
    width: 120px;
    right: 10%;
}

#W3{
    top: 442px;
    height: 100px;
    right: 9.25%;
}
#W4{
    top: 585px;
    height: 110px;
    right: 7%;
}
#W5{
    top: 760px;
    width: 200px;
    right: 5%;
}
#W6{
    top: 918px;
    height: 120px;
    right: 7%;
}
#W7{
    top: 1075px;
    height: 110px;
    right: 4%;
}