center{
    font-size: 60px;
}
p{
    margin-left: 30px
}
img, video{
    position: absolute;
    border: solid 10px black;
}
#W1{
    top: 19%;
    height: 120px;
    right: 10%;
}

#W2{
    top: 41.5%;
    width: 120px;
    right: 10%;
}

#W3{
    top: 63.5%;
    height: 100px;
    right: 9.25%;
}
#W4{
    top: 85%;
    height: 110px;
    right: 7%;
}
#W5{
    top: 109%;
    width: 200px;
    right: 5%;
}
#W6{
    top: 132%;
    height: 120px;
    right: 7%;
}
#W7{
    top: 155%;
    width: 140px;
    height: 110px;
    right: 7%;
}
#W8{
    top: 176%;
    height: 120px;
    right: 5%;
}
#W9{
    top: 199%;
    height: 120px;
    right: 5%;
}
#W10{
    top: 222%;
    width: 200px;
    height: 140px;
    right: 7%;
}
#W11{
    top: 247%;
    height: 105px;
    width: 210px;
    right: 3%;
}
#W12{
    top: 267%;
    height: 110px;
    width: 195px;
    right: 5%;
}
#W13{
    top: 289%;
    height: 110px;
    width: 250px;
    right: 3%;
}
#W14{
    top: 311%;
    height: 110px;
    width: 250px;
    right: 3%;
}
#1W15{
    top: 333%;
    height: 110px;
    width: 250px;
    right: 3%;
}
#2W15{
    top: 355%;
    height: 110px;
    width: 250px;
    right: 3%;
}
#3W15{
    top: 377%;
    height: 110px;
    width: 250px;
    right: 3%;
}
#4W15{
    top: 399%;
    height: 110px;
    width: 250px;
    right: 3%;
}
#5W15{
    top: 413%;
    height: 110px;
    width: 250px;
    right: 3%;
}